<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Analyzers Rules" Description="Analyzers Rules" ToolsVersion="17.0">
  <IncludeAll Action="Warning" />
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA1005" Action="Hidden" />
    <Rule Id="SA1009" Action="Hidden" />
    <Rule Id="SA1025" Action="Hidden" />
    <Rule Id="SA1101" Action="Hidden" />
    <Rule Id="SA1111" Action="Hidden" />
    <Rule Id="SA1116" Action="Hidden" />
    <Rule Id="SA1117" Action="Hidden" />
    <Rule Id="SA1118" Action="Hidden" />
    <Rule Id="SA1121" Action="Hidden" />
    <Rule Id="SA1201" Action="Hidden" />
    <Rule Id="SA1202" Action="Hidden" />
    <Rule Id="SA1203" Action="Hidden" />
    <Rule Id="SA1204" Action="Hidden" />
    <Rule Id="SA1214" Action="Hidden" />
    <Rule Id="SA1402" Action="Hidden" />
    <Rule Id="SA1413" Action="Hidden" />
    <Rule Id="SA1512" Action="Hidden" />
    <Rule Id="SA1513" Action="Hidden" />
    <Rule Id="SA1515" Action="Hidden" />
    <Rule Id="SA1516" Action="Hidden" />
    <Rule Id="SA1600" Action="Hidden" />
    <Rule Id="SA1601" Action="Hidden" />
    <Rule Id="SA1602" Action="Hidden" />
    <Rule Id="SA1606" Action="Hidden" />
    <Rule Id="SA1607" Action="Hidden" />
    <Rule Id="SA1614" Action="Hidden" />
    <Rule Id="SA1616" Action="Hidden" />
    <Rule Id="SA1622" Action="Hidden" />
    <Rule Id="SA1623" Action="Hidden" />
    <Rule Id="SA1626" Action="Hidden" />
    <Rule Id="SA1629" Action="Hidden" />
    <Rule Id="SA1633" Action="Hidden" />
    <Rule Id="SA1642" Action="Hidden" />
    <Rule Id="SA1643" Action="Hidden" />
    <Rule Id="SA1649" Action="Hidden" />
    <Rule Id="SA1652" Action="Hidden" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.NetAnalyzers" RuleNamespace="Microsoft.CodeAnalysis.NetAnalyzers">
    <Rule Id="CA1014" Action="Hidden" />
    <Rule Id="CA1019" Action="Hidden" />
    <Rule Id="CA1032" Action="Hidden" />
    <Rule Id="CA1062" Action="Hidden" />
    <Rule Id="CA1510" Action="Hidden" />
    <Rule Id="CA1824" Action="Hidden" />
  </Rules>
</RuleSet>
